.navbar-inverse {
    margin: 0px;
    background-color: #474E5D;
    background-image:none;
}
.navbar-inverse .navbar-nav>li>a {
    color: #FCF9F4;
}

.navbar-inverse .navbar-brand {
    color: #FCF9F4;
}

div.row {
    padding: 0;
    margin: 0;
}

#map {
    padding:0px;
    margin:0px;
}

.jumboAlign {
    background-image:url(images/tuscany-villas-sant-anna.jpg);
    background-repeat:no-repeat;
    padding: 0px;
    margin: 0px;
}

/*Page section divider styling*/
#heading {
    background-color: #474E5D;
    color: #FCF9F4;
    margin-bottom: 12px;
    padding: 6px;
}

#barhead {
    font-size: 24px;
    text-align: center;
}

#barsub {
    font-size: 12px;
    text-align: center;
}

/*Location styling*/
#locimage {
    padding-top:16px;
}


#justify {
    font-size: 14px;
    text-align: justify;
}

#grayButton {
    background-color: #474E5D;
    padding: 6px;
    border: 1px;
    border-color: #787D86;
    color: #FCF9F4;
    text-align: left;
    font-size: 14px;
}

#whiteButton {
    background-color: #FCF9F4;
    padding: 6px;
    border: 1px;
    border-color: #787D86;
    color: #474E5D;
    text-align: left;
    font-size: 14px;
}

#loc {
    font-size: 24px;
    text-align: justify;
}

.midLocation {
    background-color: #474E5D;
    color: #FCF9F4;
    margin: 0px;
}

.topBottomLoc {
    background-color: #FFFFFF;
    color: #474E5D;
    margin: 0px;
}

/*Ammenities collage styling*/
div.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin:0;
    padding:0;
}
.colltext {
    padding: 20px;
    margin: 0px;
}
.collimg {
    padding:0px;
    margin:0px;
}
.collimgbot {
    padding-top:0px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:12px;
    margin:0px;
}